## Solution
.vscode/*

## GrappleGame:
GrappleGame/.vscode/*
GrappleGame/.vs/*
GrappleGame/Library/*
GrappleGame/Logs/*
GrappleGame/Temp/*
GrappleGame/UserSettings/*
GrappleGame/Build/*

## GrappleGameServer:
GrappleGameServer/.vscode/*
GrappleGameServer/.vs/*
GrappleGameServer/Library/*
GrappleGameServer/Logs/*
GrappleGameServer/Temp/*
GrappleGameServer/UserSettings/*
GrappleGameServer/Build/*